.gradient-custom {
        /* fallback for old browsers */
        background: #1bde45;
        
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgb(217, 255, 0), rgb(37, 252, 170));
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgb(42, 203, 17), rgb(204, 255, 0))
 }